{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} {% endblock %} </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/solicitudes.css'%}">
        <link rel="stylesheet" href="{% static 'css/inicio_administracion.css'%}">
        <link rel="stylesheet" href="{%static 'css/inputs.css'%}">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b5d7e81e44.js" crossorigin="anonymous"></script>
    </head>

    {% if user.groups.all.0.name == 'Alumno' %}

    <body>

        {%include 'menu_alumnos.html'%}
        <div id="main">
            <!-- Add all your websites page content here  -->
            <div class="container">
                <h1 class="frase" style="font-weight: 100;">SOLICITUD DE TRASLADO</h1>
            </div>
            <div class="container" style="margin-top: 20px;">
                <form action="{% url 'pdf_traslado' %}" method="post" target="_blank">
                    {% csrf_token %}
                    <div class="filtros">
                        <h3 style="border-radius: 15px; width: auto; background-color: #dee2e6; text-align: center;">LLenar Formulario</h3>
                        <br>
                        <h3 style="border-radius: 15px; width: auto; background-color: #dee2e6; text-align: center;">Datos Personales</h3>
                        <div class="row">
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="nombre">Nombre o Nombres:</label>
                                    <input type="text" name="nombre" id="nombre" class="form__field" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="papellidio">Primer Apellido:</label>
                                    <input type="text" name="papellido" id="papellido" class="form__field" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="sapellido">Segundo Apellido:</label>
                                    <input type="text" name="sapellido" id="sapellido" class="form__field" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="ncontrol">Número de Control:</label>
                                    <input type="text" name="ncontrol" id="ncontrol" class="form__field" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="carrera">Carrera:</label>
                                    <input type="text" name="carrera" id="carrera" class="form__field" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="semestre">Semestre:</label>
                                    <input type="number" name="semestre" id="semestre" class="form__field" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="plan">Plan de Estudios:</label>
                                    <input type="text" name="plan" id="plan" class="form__field" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3 style="border-radius: 15px; width: auto; background-color: #dee2e6; text-align: center;">Datos para Traslado</h3>
                        <div class="row">
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="tec">Ciudad del Tecnológico para Traslado:</label>
                                    <input type="text" name="tec" id="tec" class="form__field" placeholder="Ciudad del Tecnológico" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="carrerat">Carrera:</label>
                                    <input type="text" name="carrerat" id="carrerat" class="form__field" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="pestudios">Plan de Estudios:</label>
                                    <input type="text" name="pestudios" id="pestudios" class="form__field" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3 style="border-radius: 15px; width: auto; background-color: #dee2e6; text-align: center;">Motivos</h3>
                        <div class="row">
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="motivos">Expresar motivos personales y/o académicos (Máx. 500 caractéres):</label>
                                    <textarea name="motivos" id="motivos" cols="30" rows="3" maxlength="500" class="form__field" style="background-color: #ECECEC;" required></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3 style="border-radius: 15px; width: auto; background-color: #dee2e6; text-align: center;">Datos de Contacto</h3>
                        <div class="row">
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="tel">Teléfono:</label>
                                    <input type="text" name="tel" id="tel" class="form__field" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form__group" style="width: 100%;">
                                    <label for="cooreo">Correo:</label>
                                    <input type="mail" name="correo" id="correo" class="form__field" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button type="submit" class="btn btn-warning" style="width: 50%; margin: 2rem 25% 3rem 25%; border-radius: 15px;">Generar</button>
                            <!-- <a href="{% url 'pdf_cambio' %}" target="_blank">Crear Formato</a> -->
                        </div>


                </form>
                </div>
            </div>




            <div class="todo">
                {% block content %} {% endblock %}
            </div>




    </body>
    {%else%}
    <style>
        body {
            background-color: #2b2d42;
            align-items: center;
        }
    </style>
    <div class="modal-dialog modal-dialog-centered" style="margin-top: 10%;">
        <div class="modal-content" style="background-color: #e9ecef;">
            <div class="modal-header">
                <div class="row">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-exclamation" class="svg-inline--fa fa-circle-exclamation" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="1.5rem" width="1.5rem">
                        <path fill="currentColor" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM232 152C232 138.8 242.8 128 256 128s24 10.75 24 24v128c0 13.25-10.75 24-24 24S232 293.3 232 280V152zM256 400c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 385.9 273.4 400 256 400z">
                        </path>
                    </svg> ¡Atención!</h5>
                </div>

            </div>
            <div class="modal-body">
                <div class="row">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-exclamation" class="svg-inline--fa fa-circle-exclamation" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="4rem" width="4rem" color="#ba181b">
                        <path fill="currentColor" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM232 152C232 138.8 242.8 128 256 128s24 10.75 24 24v128c0 13.25-10.75 24-24 24S232 293.3 232 280V152zM256 400c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 385.9 273.4 400 256 400z">
                        </path>
                    </svg>
                </div>
                <br>
                <h6 style="text-align: center;">No tiene autorización para visualizar este contenido</h6>
                <a href="{% url 'logout' %}" style="width: 50%; margin: 2rem 25% 3rem 25%; border-radius: 15px;" class="btn btn-warning"> Salir</a>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</html>