{% load static %}
<!DOCTYPE html>
<html lang="es">

    <!DOCTYPE html>
    <html lang="es">

    <div style="position: absolute; top: -1.1in; left: -1.2in;">

        <body>
            <img style="position:absolute;top:10.22in;left:7.30in;width:1.22in;height:1.41in" src="{% static 'imgCambioCarrera/ri_1.png'%}" />
            <img style="position:absolute;top:11.41in;left:1.05in;width:7.33in;height:0.01in" src="{% static 'imgCambioCarrera/ri_2.png'%}" />
            <img style="position:absolute;top:0.66in;left:1.07in;width:5.74in;height:0.70in" src="{% static 'imgCambioCarrera/ri_3.png'%}" />
            <div style="position:absolute;top:10.74in;left:3.92in;width:3.02in;line-height:0.11in;"><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">Av. Tecnológico 1500, Col. Lomas de Santiaguito, C.P. 58120, Morelia,</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:10.87in;left:3.92in;width:0.58in;line-height:0.07in;"><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">Michoacán. </span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:TimesNewRomanPSMT;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:10.87in;left:4.45in;width:1.65in;line-height:0.11in;"><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">Tel. (</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">44</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">3) 3-</span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">12</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">-</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">15</span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">-70 Ext. 223 / Email:</span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:11.00in;left:3.92in;width:1.07in;line-height:0.11in;"><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">dep@morelia.tecnm.mx</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:11.13in;left:3.92in;width:1.34in;line-height:0.11in;"><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">tecnm.mx | morelia.tecnm.</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">mx</span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:1.69in;left:6.88in;width:1.66in;line-height:0.12in;"><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Calibri;color:#868686">Instituto Tecnológico de Morelia</span><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Calibri;color:#868686"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:1.84in;left:7.32in;width:1.23in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686">Subdire</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686">cción</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686"> Académica</span>
                <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:1.99in;left:6.85in;width:1.70in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686">División de Estudios Profesionales</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686"> </span><br/></SPAN>
            </div>
            <img style="position:absolute;top:10.69in;left:2.33in;width:0.89in;height:0.51in" src="{% static 'imgCambioCarrera/ri_4.png'%}" />
            <img style="position:absolute;top:10.66in;left:1.06in;width:0.55in;height:0.56in" src="{% static 'imgCambioCarrera/ri_5.png'%}" />
            <img style="position:absolute;top:10.65in;left:3.27in;width:0.52in;height:0.60in" src="{% static 'imgCambioCarrera/ri_6.png'%}" />
            <img style="position:absolute;top:10.65in;left:1.69in;width:0.59in;height:0.59in" src="{% static 'imgCambioCarrera/ri_7.png'%}" />
            <div style="position:absolute;top:2.66in;left:1.58in;width:6.44in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Courier New;color:#000000">ANEXO V. FORMATO DE SOLICITUD DE CONVALIDACIÓN DE ESTUDIOS</span><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Courier New;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.05in;left:5.91in;width:1.85in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000">FOLIO: __________________</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.23in;left:4.30in;width:3.52in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000">Morelia, Mich., _________________________________</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.60in;left:1.07in;width:1.82in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000">PATRICIA MOLINA VÁZQUEZ</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.79in;left:1.07in;width:2.89in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000">JEFA DE LA DIVISIÓN DE EST. PROFESIONALES</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.97in;left:1.07in;width:0.95in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000">P R E S E N T E.</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Por </span></SPAN><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:0.28in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">este </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:0.60in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">medio </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:1.06in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">solicito </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:1.56in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">iniciar </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:2.00in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">con </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:2.29in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">los </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:2.53in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">trámites </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:3.11in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">correspondientes </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:4.25in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">del </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:4.51in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">proceso </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:5.07in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">de </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:5.29in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">convalidación, </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:6.24in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">siendo </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:6.71in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">mis </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:4.34in;left:1.07in;width:7.37in;line-height:0.15in;">
                <DIV style="position:relative; left:6.99in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">datos</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
                </DIV>
            </div>
            <div style="position:absolute;top:4.52in;left:1.07in;width:0.80in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">académicos:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.70in;left:1.07in;width:7.33in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Nombre:____________________________________________________________________________________ </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>

            <div style="position:absolute;top:4.70in;left:1.80in;width:7.33in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{nombre}} {{primerapellido}} {{segundoapellido}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>

            <div style="position:absolute;top:4.89in;left:1.07in;width:0.56in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Instituto</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.89in;left:1.74in;width:0.19in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">de</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.89in;left:2.03in;width:6.42in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Procedencia:____________________________________________________________________</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>

            <div style="position:absolute;top:4.89in;left:3.03in;width:6.42in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">
                {{ institutoProcedencia }}</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>

            <div style="position:absolute;top:5.07in;left:1.07in;width:7.38in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">No. De Control: ________________________________ </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">     </span>
                <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Semestre: _</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">__</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">______________________________________</span>
                <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>

            <div style="position:absolute;top:5.07in;left:2.07in;width:7.38in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">
             {{ noControl }}  </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">     </span>
                <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"></span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">__</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"></span>
                <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>

            <div style="position:absolute;top:5.07in;left:5.07in;width:7.38in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">
              </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">     </span>
                <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"></span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">__</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">{{ semestre }}</span>
                <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>

            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Carrera </span></SPAN><br/></div>
            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:0.54in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">que </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:0.85in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">curso: </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:1.30in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">_____________________________________ </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:5.27in;left:1.20in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:1.30in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">{{ carreraCursando }}</span></SPAN>
                </DIV><br/></div>

            <!-- <div style="position:absolute;top:5.27in;left:5.20in;width:7.38in;line-height:0.15in;">
                    <DIV style="position:relative; left:1.30in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">{{ clavePlanEstudioCursando }}</span></SPAN>
                    </DIV><br/></div> -->

            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:4.17in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Clave </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:4.58in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">del </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:4.85in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">plan </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:5.19in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">de </span></SPAN>
                </DIV><br/></div>
            <div style="position:absolute;top:5.27in;left:1.07in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:5.43in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">estudios:__________________</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
                </DIV>
            </div>

            <div style="position:absolute;top:5.27in;left:1.87in;width:7.38in;line-height:0.15in;">
                <DIV style="position:relative; left:5.43in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">{{ clavePlanEstudioCursando }}</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
                </DIV>
            </div>

            <div style="position:absolute;top:5.45in;left:1.07in;width:7.36in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Carrera que solicito: __________________________________</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">__</span>
                <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">__ Clave del plan de estudios:____________________</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>

            <div style="position:absolute;top:5.45in;left:2.30in;width:7.36in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">{{ carreraSolicitando }}</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">__</span>
            </div>

            <div style="position:absolute;top:5.45in;left:6.80in;width:7.36in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">{{ clavePlanEstudioSolicitando }}</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">__</span>
            </div>

            <div style="position:absolute;top:6.01in;left:4.16in;width:1.31in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000">Firma del solicitante</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.39in;left:2.86in;width:3.81in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000">PA</span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000">RA SER LLENADO EXCLUSIVAMENTE POR LA INSTITUCIÓN</span>
                <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.76in;left:1.16in;width:2.09in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Solicitud correctamente llena:      </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.94in;left:1.16in;width:6.09in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Presenta Kardex con sello y firma del Departamento de Servicios Escolares o su equivalente en  los</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.13in;left:1.16in;width:2.60in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Institutos Tecnológicos Descentralizados: </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.31in;left:1.16in;width:2.07in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Presenta formato de No Adeudo:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.50in;left:1.16in;width:6.31in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Presenta recomendación del Departamento de Desarrollo Académico o su equivalente en los Instituto</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.68in;left:1.16in;width:1.99in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Tecnológicos Descentralizados: </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.86in;left:1.16in;width:3.22in;line-height:0.15in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000">Existe capacidad disponible en la carrera solicitada: </span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <img style="position:absolute;top:6.35in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_1.png'%}" />
            <img style="position:absolute;top:6.35in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_2.png'%}" />
            <img style="position:absolute;top:6.35in;left:1.08in;width:7.33in;height:0.01in" src="{% static 'imgCambioCarrera/vi_3.png'%}" />
            <img style="position:absolute;top:6.35in;left:8.41in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_4.png'%}" />
            <img style="position:absolute;top:6.35in;left:8.41in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_5.png'%}" />
            <img style="position:absolute;top:6.36in;left:1.07in;width:0.01in;height:1.66in" src="{% static 'imgCambioCarrera/vi_6.png'%}" />
            <img style="position:absolute;top:6.36in;left:8.41in;width:0.01in;height:1.66in" src="{% static 'imgCambioCarrera/vi_7.png'%}" />
            <div style="position:absolute;top:8.50in;left:1.78in;width:2.23in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Sello de la División de Estudios Profesionales</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:8.64in;left:1.73in;width:2.33in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">O su equivalente en los Institutos Tecnológicos</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:8.79in;left:2.46in;width:0.86in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Descentralizados</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:8.50in;left:5.53in;width:2.27in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Firma de la División de Estudios Profesionales</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:8.64in;left:5.50in;width:2.33in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">O su equivalente en los Institutos Tecnológicos</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:8.79in;left:6.23in;width:0.86in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Descentralizados</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <img style="position:absolute;top:8.02in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_8.png'%}" />
            <img style="position:absolute;top:8.02in;left:1.08in;width:3.59in;height:0.01in" src="{% static 'imgCambioCarrera/vi_9.png'%}" />
            <img style="position:absolute;top:8.02in;left:4.67in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_10.png'%}" />
            <img style="position:absolute;top:8.02in;left:4.68in;width:0.21in;height:0.01in" src="{% static 'imgCambioCarrera/vi_11.png'%}" />
            <img style="position:absolute;top:8.02in;left:4.88in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_12.png'%}" />
            <img style="position:absolute;top:8.02in;left:4.89in;width:3.52in;height:0.01in" src="{% static 'imgCambioCarrera/vi_13.png'%}" />
            <img style="position:absolute;top:8.02in;left:8.41in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_14.png'%}" />
            <img style="position:absolute;top:8.03in;left:1.07in;width:0.01in;height:0.89in" src="{% static 'imgCambioCarrera/vi_15.png'%}" />
            <img style="position:absolute;top:8.03in;left:4.67in;width:0.01in;height:0.89in" src="{% static 'imgCambioCarrera/vi_16.png'%}" />
            <img style="position:absolute;top:8.03in;left:4.88in;width:0.01in;height:0.89in" src="{% static 'imgCambioCarrera/vi_17.png'%}" />
            <img style="position:absolute;top:8.03in;left:8.41in;width:0.01in;height:0.89in" src="{% static 'imgCambioCarrera/vi_18.png'%}" />
            <div style="position:absolute;top:9.09in;left:1.16in;width:0.35in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Notas:</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.24in;left:1.16in;width:5.22in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">1.</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">-</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">  </span>
                <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Semestre se refiere al correspondiente con las fecha de ingreso a las Instituciones adscritas al TecNM.</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.39in;left:1.16in;width:4.49in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">2.</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">-</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">  </span>
                <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">En la lista de verificación se contesta SI (si cumples), NO (No cumples) o NA (No aplica).</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.54in;left:1.16in;width:5.12in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">3.</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">-</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">  </span>
                <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Si se presenta un “NO CUMPLE” en la lista de verificación, será un rechazo inmediato de la solicitud.</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.69in;left:1.16in;width:7.20in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">4.</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">- La recomendación del Departamento Desarrollo Académico o su equivalente en los Institutos Tecnológicos  Descentralizados, sólo aplica para</span>
                <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.83in;left:1.16in;width:0.95in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">cambio de carrera.</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <img style="position:absolute;top:8.92in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_19.png'%}" />
            <img style="position:absolute;top:8.92in;left:1.08in;width:3.59in;height:0.01in" src="{% static 'imgCambioCarrera/vi_20.png'%}" />
            <img style="position:absolute;top:8.92in;left:4.67in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_21.png'%}" />
            <img style="position:absolute;top:8.92in;left:4.68in;width:0.21in;height:0.01in" src="{% static 'imgCambioCarrera/vi_22.png'%}" />
            <img style="position:absolute;top:8.92in;left:4.88in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_23.png'%}" />
            <img style="position:absolute;top:8.92in;left:4.89in;width:3.52in;height:0.01in" src="{% static 'imgCambioCarrera/vi_24.png'%}" />
            <img style="position:absolute;top:8.92in;left:8.41in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_25.png'%}" />
            <img style="position:absolute;top:8.92in;left:1.07in;width:0.01in;height:1.04in" src="{% static 'imgCambioCarrera/vi_26.png'%}" />
            <img style="position:absolute;top:9.96in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_27.png'%}" />
            <img style="position:absolute;top:9.96in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_28.png'%}" />
            <img style="position:absolute;top:9.96in;left:1.08in;width:7.33in;height:0.01in" src="{% static 'imgCambioCarrera/vi_29.png'%}" />
            <img style="position:absolute;top:8.92in;left:8.41in;width:0.01in;height:1.04in" src="{% static 'imgCambioCarrera/vi_30.png'%}" />
            <img style="position:absolute;top:9.96in;left:8.41in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_31.png'%}" />
            <img style="position:absolute;top:9.96in;left:8.41in;width:0.01in;height:0.01in" src="{% static 'imgCambioCarrera/vi_32.png'%}" />
            <img style="position:absolute;top:6.65in;left:7.97in;width:0.34in;height:0.18in" src="{% static 'imgCambioCarrera/vi_33.png'%}" />
            <img style="position:absolute;top:6.64in;left:7.95in;width:0.37in;height:0.21in" src="{% static 'imgCambioCarrera/vi_34.png'%}" />
            <img style="position:absolute;top:6.98in;left:7.96in;width:0.34in;height:0.18in" src="{% static 'imgCambioCarrera/vi_35.png'%}" />
            <img style="position:absolute;top:6.96in;left:7.94in;width:0.37in;height:0.21in" src="{% static 'imgCambioCarrera/vi_36.png'%}" />
            <img style="position:absolute;top:7.21in;left:7.97in;width:0.34in;height:0.18in" src="{% static 'imgCambioCarrera/vi_37.png'%}" />
            <img style="position:absolute;top:7.20in;left:7.95in;width:0.37in;height:0.21in" src="{% static 'imgCambioCarrera/vi_38.png'%}" />
            <img style="position:absolute;top:7.54in;left:7.96in;width:0.34in;height:0.18in" src="{% static 'imgCambioCarrera/vi_39.png'%}" />
            <img style="position:absolute;top:7.53in;left:7.94in;width:0.37in;height:0.21in" src="{% static 'imgCambioCarrera/vi_40.png'%}" />
            <img style="position:absolute;top:7.79in;left:7.96in;width:0.34in;height:0.18in" src="{% static 'imgCambioCarrera/vi_41.png'%}" />
            <img style="position:absolute;top:7.78in;left:7.94in;width:0.37in;height:0.21in" src="{% static 'imgCambioCarrera/vi_42.png'%}" />
        </body>

    </html>