{% load static %}
<!DOCTYPE html>
<html lang="es">

    <!DOCTYPE html>
    <html lang="es">

    <div style="position: absolute; top: -1.1in; left: -1.2in;">

        <body>

            <img style="position:absolute;top:10.22in;left:7.30in;width:1.22in;height:1.41in" src="{% static 'ri_1.png' %}" />
            <img style="position:absolute;top:11.41in;left:1.05in;width:7.33in;height:0.01in" src="{% static 'ri_2.png'%}" />
            <img style="position:absolute;top:0.66in;left:1.07in;width:5.74in;height:0.70in" src="{% static 'ri_3.png'%}" />
            <div style="position:absolute;top:10.74in;left:3.92in;width:3.02in;line-height:0.11in;">
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">
        Av. Tecnológico 1500, Col. Lomas de Santiaguito, C.P. 58120, Morelia,
    </span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000"> </span>
                <br/>
                </SPAN>
            </div>
            <div style="position:absolute;top:10.87in;left:3.92in;width:0.58in;line-height:0.07in;">
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">
    Michoacán. 
    </span>
                <span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:TimesNewRomanPSMT;color:#000000"> </span>
                <br/>
                </SPAN>
            </div>
            <div style="position:absolute;top:10.87in;left:4.45in;width:1.65in;line-height:0.11in;"><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">Tel. (</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">44</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">3) 3-</span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">12</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">-</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">15</span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">-70 Ext. 223 / Email:</span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:11.00in;left:3.92in;width:1.07in;line-height:0.11in;"><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">dep@morelia.tecnm.mx</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:11.13in;left:3.92in;width:1.34in;line-height:0.11in;"><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">tecnm.mx | morelia.tecnm.</span><span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000">mx</span>
                <span style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:1.69in;left:6.88in;width:1.66in;line-height:0.12in;"><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Calibri;color:#868686">Instituto Tecnológico de Morelia</span><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Calibri;color:#868686"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:1.84in;left:7.32in;width:1.23in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686">Subdire</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686">cción</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686"> Académica</span>
                <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:1.99in;left:6.85in;width:1.70in;line-height:0.12in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686">División de Estudios Profesionales</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#868686"> </span><br/></SPAN>
            </div>
            <img style="position:absolute;top:10.69in;left:2.33in;width:0.89in;height:0.51in" src="{% static 'ri_4.png'%}" />
            <img style="position:absolute;top:10.66in;left:1.06in;width:0.55in;height:0.56in" src="{% static 'ri_5.png'%}" />
            <img style="position:absolute;top:10.65in;left:3.27in;width:0.52in;height:0.60in" src="{% static 'ri_6.png'%}" />
            <img style="position:absolute;top:10.65in;left:1.69in;width:0.59in;height:0.59in" src="{% static 'ri_7.png'%}" />
            <div style="position:absolute;top:2.66in;left:1.07in;width:6.98in;line-height:0.15in;"><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Courier New;color:#000000">ANEXO XIII. SOLICITUD DE RESOLUCIÓN DE EQUIVALENCIA DE ESTUDIOS</span><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Courier New;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.00in;left:5.91in;width:2.43in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Calibri;color:#000000">          </span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">FOLIO:   _______________</span>
                <span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.23in;left:4.85in;width:3.61in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">Morelia, Mich., ______________________</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.23in;left:6.15in;width:3.61in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{fecha}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.92in;left:1.07in;width:7.31in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">Nombre:_________________________________________________________________________</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.92in;left:2.35in;width:3in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{papellido}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.92in;left:4.50in;width:3in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{sapellido}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:3.92in;left:6in;width:5in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{nombre}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.14in;left:2.36in;width:0.96in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Apellido paterno</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.14in;left:4.50in;width:1.01in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Apellido Materno</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.14in;left:6.64in;width:0.62in;line-height:0.13in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Nombre (s)</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.31in;left:1.07in;width:7.30in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">Domicilio:________________________________________________________________________</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.31in;left:3.07in;width:7.30in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{calle}}  #{{numero}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.53in;left:4.29in;width:0.86in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Calle y número</span><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.70in;left:1.07in;width:7.29in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">________________________________________________________________________________</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.70in;left:1.5in;width:7.30in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{col}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.70in;left:6.60in;width:7.30in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{cp}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.91in;left:2.36in;width:0.45in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Colonia</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:4.91in;left:6.64in;width:0.27in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">C. P.</span><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.09in;left:1.07in;width:7.29in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">________________________________________________________________________________</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.09in;left:1.8in;width:7.29in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{municipio}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.09in;left:3.50in;width:7.29in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{ciudad}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.09in;left:5.20in;width:7.29in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{estado}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.09in;left:6.90in;width:7.29in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{tel}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.30in;left:2.36in;width:0.59in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Municipio</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.30in;left:3.95in;width:0.42in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Ciudad</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.30in;left:5.56in;width:0.41in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Estado</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.31in;left:7.18in;width:0.54in;line-height:0.13in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Teléfonos</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.48in;left:1.07in;width:5.84in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">Nacionalidad:_____________________________________________ sexo: </span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.48in;left:2.07in;width:5.84in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{nacio}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.48in;left:5.80in;width:5.84in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">({{sexo}})</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.70in;left:1.07in;width:2.94in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">Institución en que realiza(ó) los estudios:</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.93in;left:1.07in;width:7.24in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">___________________________________________________________________________________</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:5.93in;left:1.50in;width:7.24in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{inst}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.15in;left:1.07in;width:7.23in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">Nivel:__________________ Área:____________________________ Estado de la República:____________</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.15in;left:1.57in;width:7.23in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{nivel}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.15in;left:3.25in;width:7.23in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{area}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.15in;left:6.80in;width:7.23in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{estadorep}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.36in;left:1.83in;width:1.05in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:Calibri;color:#000000">Licenciatura o TSU</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.36in;left:3.23in;width:2.30in;line-height:0.13in;"><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000">Ingeniería, Económico-Administrativas, etc.</span><span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.53in;left:1.07in;width:7.16in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">Carrera:________________________________________________________________________</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.53in;left:2.07in;width:7.16in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{carrera}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.75in;left:1.07in;width:7.19in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">Clave Plan estudios________________ de fecha ________________ a fecha_________________</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.75in;left:2.42in;width:7.19in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{plan}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.75in;left:4.57in;width:7.19in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{fechai}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:6.75in;left:6.27in;width:7.19in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{fechaf}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.14in;left:1.07in;width:1.39in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Calibri;color:#000000">Deseo ingresar al:</span><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.47in;left:1.07in;width:7.17in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">Instituto ________________________________________ Estado de la República ____________</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.47in;left:1.75in;width:7.17in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{instituto}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.47in;left:6.70in;width:7.17in;line-height:0.18in;"><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000">{{edorep}}</span><span style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.80in;left:1.85in;width:7.15in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">             en:_________________________________________ Plan de Estudios: _________________</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.80in;left:1.07in;width:7.15in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">{{tipocar}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.80in;left:2.10in;width:7.15in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">{{carreras}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:7.80in;left:6.50in;width:7.15in;line-height:0.17in;"><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">{{planes}}</span><span style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:8.53in;left:4.17in;width:1.20in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Calibri;color:#000000">ATENTAMENTE</span><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.05in;left:3.98in;width:1.57in;line-height:0.18in;"><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Calibri;color:#000000">Firma del solicitante</span><span style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Calibri;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.24in;left:1.07in;width:3.31in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000">Datos adicionales requeridos del estudiante:</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.43in;left:1.25in;width:1.25in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000">TELEF. / CELULAR</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.65in;left:1.25in;width:1.25in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000">{{cel}}</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.43in;left:3.59in;width:0.53in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000">E-MAIL</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000"> </span><br/></SPAN>
            </div>
            <div style="position:absolute;top:9.63in;left:3in;width:0.53in;line-height:0.14in;"><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000">{{correo}}</span><span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Century Gothic;color:#000000"> </span><br/></SPAN>
            </div>
            <img style="position:absolute;top:9.42in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'vi_1.png'%}" />
            <img style="position:absolute;top:9.42in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'vi_2.png'%}" />
            <img style="position:absolute;top:9.42in;left:1.08in;width:1.69in;height:0.01in" src="{% static 'vi_3.png'%}" />
            <img style="position:absolute;top:9.42in;left:2.77in;width:0.01in;height:0.01in" src="{% static 'vi_4.png'%}" />
            <img style="position:absolute;top:9.42in;left:2.77in;width:2.25in;height:0.01in" src="{% static 'vi_5.png'%}" />
            <img style="position:absolute;top:9.42in;left:5.02in;width:0.01in;height:0.01in" src="{% static 'vi_6.png'%}" />
            <img style="position:absolute;top:9.42in;left:5.02in;width:0.01in;height:0.01in" src="{% static 'vi_7.png'%}" />
            <img style="position:absolute;top:9.43in;left:1.07in;width:0.01in;height:0.19in" src="{% static 'vi_8.png'%}" />
            <img style="position:absolute;top:9.43in;left:2.77in;width:0.01in;height:0.19in" src="{% static 'vi_9.png'%}" />
            <img style="position:absolute;top:9.43in;left:5.02in;width:0.01in;height:0.19in" src="{% static 'vi_10.png'%}" />
            <img style="position:absolute;top:9.61in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'vi_11.png'%}" />
            <img style="position:absolute;top:9.61in;left:1.08in;width:1.69in;height:0.01in" src="{% static 'vi_12.png'%}" />
            <img style="position:absolute;top:9.61in;left:2.77in;width:0.01in;height:0.01in" src="{% static 'vi_13.png'%}" />
            <img style="position:absolute;top:9.61in;left:2.77in;width:2.25in;height:0.01in" src="{% static 'vi_14.png'%}" />
            <img style="position:absolute;top:9.61in;left:5.02in;width:0.01in;height:0.01in" src="{% static 'vi_15.png'%}" />
            <img style="position:absolute;top:9.62in;left:1.07in;width:0.01in;height:0.19in" src="{% static 'vi_16.png'%}" />
            <img style="position:absolute;top:9.81in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'vi_17.png'%}" />
            <img style="position:absolute;top:9.81in;left:1.07in;width:0.01in;height:0.01in" src="{% static 'vi_18.png'%}" />
            <img style="position:absolute;top:9.81in;left:1.08in;width:1.69in;height:0.01in" src="{% static 'vi_19.png'%}" />
            <img style="position:absolute;top:9.62in;left:2.77in;width:0.01in;height:0.19in" src="{% static 'vi_20.png'%}" />
            <img style="position:absolute;top:9.81in;left:2.77in;width:0.01in;height:0.01in" src="{% static 'vi_21.png'%}" />
            <img style="position:absolute;top:9.81in;left:2.77in;width:2.25in;height:0.01in" src="{% static 'vi_22.png'%}" />
            <img style="position:absolute;top:9.62in;left:5.02in;width:0.01in;height:0.19in" src="{% static 'vi_23.png'%}" />
            <img style="position:absolute;top:9.81in;left:5.02in;width:0.01in;height:0.01in" src="{% static 'vi_24.png'%}" />
            <img style="position:absolute;top:9.81in;left:5.02in;width:0.01in;height:0.01in" src="{% static 'vi_25.png'%}" />
        </body>
    </div>

    </html>